{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/color.css' %}">
{% endblock %}

{% block title %}管理者メニュー{% endblock %}

{% block content %}
<h1>🔧 管理者メニュー</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'festival:bulk_artist_register' %}">📦 アーティスト一括登録</a></li>
    <li class="list-group-item"><a href="{% url 'festival:edit_artist_bulk' %}">📦 アーティストふりがな修正</a></li>
    <li class="list-group-item"><a href="{% url 'festival:create_event' %}">📅 イベント登録</a></li>
    <li class="list-group-item"><a href="{% url 'festival:register_event_day' %}">📅 出演者登録</a></li>
    <li class="list-group-item"><a href="{% url 'festival:paste_schedule_register' %}">📋 ツアー日程登録</a></li>
</ul>
{% endblock %}