{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}音楽フェスを楽しむアプリBlast !!!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/color.css' %}">
    {% endblock %}
    <style>
        body {
            padding-top: 50px; /* ナビバーの高さに合わせて調整 */
        }
    </style>
</head>
<body>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'festival:index' %}">
                <img src="{% static 'image/navi.png' %}" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'festival:fes_event_upcoming' %}">フェス</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'festival:artist_list' %}">アーティスト</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/" target="_blank">管理画面</a></li>
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'festival:admin_menu' %}">管理者メニュー</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'festival:spotify_login' %}">Spotifyログイン</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>