{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/color.css' %}">
{% endblock %}

{% block title %}イベント登録・編集{% endblock %}

{% block content %}
<h1>{% if mode == 'edit' %}イベント編集{% else %}イベント登録{% endif %}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
        {% if mode == 'edit' %}更新{% else %}登録{% endif %}
    </button>
</form>

{% if mode == 'edit' %}
    <a href="{% url 'festival:event_detail' event.id %}" class="btn btn-secondary mt-3">← イベント詳細に戻る</a>
{% endif %}
{% endblock %}